{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/up-late-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "how-late",
  value: data['how-late'],
  fieldset: {
    legend: {
      text: "How late can your toddler stay up?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "In bed by 7pm",
      text: "In bed by 7pm"
    },
    {
      value: "Can make it to 10pm",
      text: "Can make it to 10pm"
    },
    {
      value: "Out till 3am, easy",
      text: "Out till 3am, easy"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
